body {
    margin: 0;
    font-family: 'Onest', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

$body-bg: #fdf6f0;
$primary: #7a0036;

.texts {
    color: #7a0036;
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: left;
    max-width: 40%;
}

@media (max-width: 768px) {
    .text-overlay {
        right: 25%;
        left: 25%;
        text-align: center;
        max-width: 50%;
    }

    .blur-on-mobile {
        filter: blur(4px);
        /* Ajusta el valor de blur según prefieras */
    }

    /* Redefine el tamaño de letra para dispositivos móviles */
    .text-overlay h1,
    .text-overlay p {
        font-size: 1.5em;
        /* Ajusta el tamaño de letra según prefieras */
    }

    .text-overlay h2 {
        font-size: 1.2em;
        /* Ajusta el tamaño de letra según prefieras */
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";