$body-bg: #fdf6f0;
$primary: #7a0036;
$font-family-base: "Josefin Sans", sans-serif;


.image-container {
    position: relative;
    width: 100%;
}

.imagen{
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 20svw;
    right: 20svw;
    transform: translateY(-50%);
    text-align: center;
    max-width: 100%;
    padding: 6svw;
}

.text-overlay h1{
    font-size: 3svw;
}

.text-overlay p {
    font-size: 1.3svw;
}



@media (max-width: 768px) {
    .text-overlay {
        left: 5svw;
        right: 5svw;
        padding: 2svw;
    }

    .text-overlay h1{
        font-size: 5.5lvw;
    }
    
    .text-overlay p {
        font-size: 4lvw;
    }

    /* Redefine el tamaño de letra para dispositivos móviles */
}


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Onest:wght@100..900&display=swap')