$body-bg: #FFF6ed;
$primary: #593A23;
$secondary: #Fdecda;
$font-family-base: "Josefin Sans", sans-serif;


.image-container {
    position: relative;
    
    margin-bottom: 7svw;
}



.imagen {
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 20svw;
    right: 20svw;
    transform: translateY(-50%);
    text-align: center;
    max-width: 100%;
    padding: 6svw;
}

.text-overlay h1 {
    font-size: 3svw;
}

.text-overlay h2 {
    font-size: 3svw;
}

.text-overlay p {
    font-size: 1.3svw;
}

.text-overlay img {
    width: 15svw;
}

@media (max-width: 768px) {

    .carrusel-inicio{
        height: 0;
        width: 0;
        margin-bottom: 20svw;
    }
}


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Onest:wght@100..900&display=swap')